@charset "UTF-8";
/* CSS Document */
/* resetea todas las variables de CSS */

body{
	font-family: 'Didact Gothic', sans-serif;
}
h1{
	text-align: center;
	color: #482414;
}
/* CSS correspondiente a CARTA.html  */
p {
	margin: 5px;
}
article{
	display: inline-block;
	width:100%;
}
article > div.descripcion{
	float:left;
}

article > div.descripcion sup {
	font-size: 12px;
}

.descripcion{
	margin: 5px;
  	position: inline;
	
}
.precio {
	float: right;
	margin-right: 10px;
	position: inline-block;
	text-align: right;
    bottom: 0;
    right: 0;
	
}

.detalls_ingredients{
	margin: 5px;
	font-size: 0.8rem;
	color: #000000;
}
.gluten{
	text-align: center;
}

/* Para crear las filas y columnas */
.column {
    float: left;
    width: 50%;
	vertical-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* CSS correspondiente a ESMORZARS.html */
.menu-esmorzars{
	width: 90%;
	margin: auto;
	text-align: left;
}
.menu-esmorzars li{
	padding-left: 5vw;
	font-size: 120%;

}
.precio_menu{
	text-align: center;
	padding-top: 1.5vw;
	font-size: 52px;
}
.superindice {
	float: left;
    vertical-align:super;
    font-size:75%;
	width: auto;
}
/* Para crear las filas y columnas */
.column {
    float: left;
    width: 50%;
	vertical-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.google-maps{
	margin-top: 2vw;
	margin-bottom: 2vw;
	width: 100%;
	display: inline-block;
}
.horari{
	font-size: 16px;
	text-align: center;
	/*border: 2px dotted green;*/
	margin-left: 10vw;
	margin-right: 10vw;
}

div[class^="contenedor-"]{ 
    margin-left: 8px;
}